a {
    color: #BC986A;
    font-size: 50px;
}

p {
    color: rgba(42, 77, 35, 0.555)
}
p{
    line-height: 2;
}
canvas {
    border-style: solid;
    border-color: #bab2b5;
    border-width: 1px;
}
.section-canvas {
    text-align: center;
}
.index {
    color: #c38d9e;
}
.title {
    color: #E27D60;
}
