header {
    background-color: #BC986A;
    color: white;
    font-size: 30px;
    font-weight: 50;
    text-decoration: none;
}

section {
    background-color: #8D8741;
    color: #FBEEC1;
    font-size: 50px;
}
footer {
    background-color: #BC986A;
    color: white;
    font-size: 30px;
    text-decoration: none;
}
