header {
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    border-style: solid;
    justify-content: space-evenly;
    background-color: #BC986A;
    color: black;
    font-size: 28px;
    font-weight: 50;
    text-decoration: none;
}

section {
    background-color: #659DBD;
    color: #FBEEC1;
    font-size: 25px;
}
footer {
    background-color: #BC986A;
    color: white;
    font-size: 25px;
    text-decoration: none;
}
a {
    color: black;
    text-decoration: none;
}
.fullImage {
    width: 100%;
}
.halfImage {
    width: 49%;
}
.efullImage {
    width: 100%;
    height: 10%;
}
.border {
    border-style: solid;
    border-width: 1.7px;
    border-color: black;
}
.link {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.h1 {
    font-size: 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: #BC986A
}
.health {
    text-align: middle;
}
div {
    text-align: center;
}
.imageFlex {
    display:flex;
}
.textbox {
    padding-left: 10px;
    width: 49%;
}
.body {
    font-family: Rigatoni;
}
.headerFlex {
    display:flex;
    justify-content: space-around;
}
.topspace {
    margin-top: 100px;
}